<div class="about-page">
    <h1>Welcome to Phoenix Kaffee!</h1>

    <div class="about-section">
        <h2>About Us</h2>
        <p>
            Phoenix Kaffee blossomed on July 1st, 2023, in the heart of Uruli Kanchan, Pune. We're not just a café; we're a vibrant hub where youthful energy converges with the essence of creativity, crafting an inspiring space for all.
        </p>
    </div>

    <br><br><br>

    <div class="team-section">
        <h2>Meet Our Team</h2>
        <p>
            The team at Phoenix Kaffee is a collective of passionate individuals dedicated to curating a memorable experience for our patrons. From coffee connoisseurs to creative minds, our team is committed to ensuring your visit is nothing short of exceptional.
        </p>
    </div>

    <br><br><br>

    <div class="inspiration-section">
        <h2>Our Inspiration</h2> 
        <img src="./assets/Phoenix.jpg" alt="">
        <p>
            Phoenix Kaffee draws inspiration from the mythological bird, symbolizing rejuvenation and transformation. We aim to be a space for relaxation, rejuvenation, and personal reinvention.
        </p>
    </div>

    <br><br><br>

    <div class="commitment-section">
        <h2>Our Commitment</h2>
        <p>
            At Phoenix Kaffee, our commitment extends beyond serving coffee and delightful food. We aspire to cultivate an environment where your creativity can flourish, and your spirits can soar. Our menu is meticulously curated to tantalize your taste buds, and our space is designed to ignite your inner artist.
        </p>
    </div>

    <br><br><br>

    <div class="join-us-section">
        <h2>Join Us</h2>
        <p>
            Join us at Phoenix Kaffee for an aromatic cup of coffee, a delightful meal, or simply to immerse yourself in the inspiring atmosphere. Whether you're a coffee enthusiast, an art aficionado, or seeking a place to unwind, you'll find a warm and inviting environment at our café.
        </p>
    </div>
</div>
