<html>

<head></head>

<body>




  <!-- <div class="carousel"> -->
  <div class="slide" *ngFor="let slide of slides; let i = index" [ngClass]="{'active': i === currentIndex}">
    <img [src]="slide.image" alt="{{slide.title}}">
    <div class="overlay">
      <h3 class="title">{{slide.title}}</h3>
      <p class="description">{{slide.description}}</p>
    </div>
  </div>
  <!-- </div> -->
  <button class="arrow left" (click)="prevSlide()"><</button>
  <button class="arrow right" (click)="nextSlide()">></button>




  <!-- more info -->

  <div class="about-section-box">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <img src="./assets/Phoenix.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 text-center">
          <div class="inner-column">
            <h1>Welcome To <span>Phoenix Kaffee</span></h1>
<h4>Our Unique Story</h4>
<p>Step into the world of Phoenix Kaffee, where each cup of coffee tells a tale of passion and precision. Our carefully curated selection of diverse and modern coffee options is designed to elevate your taste buds, providing a unique and memorable coffee experience.</p>
<p>Immerse yourself in our inviting ambiance, meticulously crafted to blend comfort with creativity. From work-friendly vibes to the culturally inspired interior, every detail at Phoenix Kaffee reflects our commitment to providing a space where productivity meets pleasure.</p>
<!-- <a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Reservation</a> -->
</div>


        </div>
      </div>
    </div>
  </div>



  <div class="qt-box qt-background more-info-qt">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-left">
          <p class="lead ">
            " If you're not the one cooking, stay out of the way and compliment the chef. "
          </p>
          <span class="lead">Michael Strahan</span>
        </div>
      </div>
    </div>
  </div>



  <!-- about  -->

  <div class="about-section-box">
    <div class="container">
      <div class="row">


        <div class="col-lg-6 col-md-6 col-sm-12">
          <img src="./assets/third.JPG" alt="About Us" class="img-fluid">
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 text-center">
          <div class="inner-column">
            <h1>About <span>Phoenix Kaffee</span></h1>
            <h4>Your Ideal Retreat</h4>
            <p>Indulge in the Phoenix Kaffee experience, where every visit is a journey into a haven of flavor and comfort. Our commitment to excellence is reflected in each sip, making us the perfect retreat for coffee enthusiasts seeking quality and ambiance.</p>
            <p>Discover a sanctuary where the rich tapestry of diverse coffee options meets a welcoming environment, creating a unique blend of relaxation and delight.</p>
            <a class="btn btn-lg btn-circle btn-outline-new-white" routerLink="about" >Discover More</a>
        </div>        
        </div>



      </div>
    </div>
  </div>



  <div class="qt-box qt-background about-qt">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-left">
          <p class="lead">
            " If you're not the one cooking, stay out of the way and compliment the chef. "
          </p>
          <span class="lead">Michael Strahan</span>
        </div>
      </div>
    </div>
  </div>


<!-- menu -->
  

<div class="about-section-box">
  <div class="container">
    <div class="row">


      <div class="col-lg-6 col-md-6 col-sm-12">
        <img src="./assets/p-4.jpg" alt="Menu" class="img-fluid">
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 text-center">
        <div class="inner-column">
          <h1>Our Menu At <span>Phoenix Kaffee</span></h1>
          <h4>Delight Your Palate</h4>
          <p>Embark on a culinary journey at Phoenix Kaffee, where our menu is a symphony of flavors meticulously crafted to tantalize your taste buds. From rich espresso delights to soothing teas, each offering is a testament to our commitment to culinary excellence.</p>
          <p>Explore the artistry of our menu, where every dish is a fusion of creativity and quality ingredients. Whether you're craving a comforting classic or a bold, innovative creation, Phoenix Kaffee invites you to savor the essence of delightful dining.</p>
          <a class="btn btn-lg btn-circle btn-outline-new-white" routerLink="menu">Know More</a>
      </div>      
      </div>



    </div>
  </div>
</div>



<div class="qt-box qt-background menu-qt">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-left">
        <p class="lead">
          " If you're not the one cooking, stay out of the way and compliment the chef. "
        </p>
        <span class="lead">Michael Strahan</span>
      </div>
    </div>
  </div>
</div>



</body>

</html>