<!-- <a href="don" alt="Mythrill" target="_blank">
    <div class="card">
      <div class="wrapper">
        <img src='../../../assets/coffe.jpeg' class="cover-image" />
      </div>
      <img src="https://ggayane.github.io/css-experiments/cards/dark_rider-title.png" class="title" />
      <img src="https://ggayane.github.io/css-experiments/cards/dark_rider-character.webp" class="character" />
    </div>
  </a>
  
  <a href="https://www.mythrillfiction.com/force-mage" alt="Mythrill" target="_blank">
    <div class="card">
      <div class="wrapper">
        <img src="https://ggayane.github.io/css-experiments/cards/force_mage-cover.jpg" class="cover-image" />
      </div>
      <img src="https://ggayane.github.io/css-experiments/cards/force_mage-title.png" class="title" />
      <img src="https://ggayane.github.io/css-experiments/cards/force_mage-character.webp" class="character" />
    </div>
  </a> -->




<!-- 2nd one -->
<!-- <div> 
    <div class="carousel">
      <ul class="slides">
        <input type="radio" name="radio-buttons" id="img-1" checked />
        <li class="slide-container">
          <div class="slide-image">
            <img src="../../assets/don5.jpg">
          </div>
          <div class="carousel-controls">
            <label for="img-3" class="prev-slide">
              <span>&lsaquo;</span>
            </label>
            <label for="img-2" class="next-slide">
              <span>&rsaquo;</span>
            </label>
          </div>
        </li>
        <input type="radio" name="radio-buttons" id="img-2" />
        <li class="slide-container">
          <div class="slide-image">
            <img src="../../assets/don6.jpg">
          </div>
          <div class="carousel-controls">
            <label for="img-1" class="prev-slide">
              <span>&lsaquo;</span>
            </label>
            <label for="img-3" class="next-slide">
              <span>&rsaquo;</span>
            </label>
          </div>
        </li>
        <input type="radio" name="radio-buttons" id="img-3" />
        <li class="slide-container">
          <div class="slide-image">
            <img src="../../assets/don7.jpg">
          </div>
          <div class="carousel-controls">
            <label for="img-2" class="prev-slide">
              <span>&lsaquo;</span>
            </label>
            <label for="img-1" class="next-slide">
              <span>&rsaquo;</span>
            </label>
          </div>
        </li>
        <div class="carousel-dots">
          <label for="img-1" class="carousel-dot" id="img-dot-1"></label>
          <label for="img-2" class="carousel-dot" id="img-dot-2"></label>
          <label for="img-3" class="carousel-dot" id="img-dot-3"></label>
        </div>
      </ul>
    </div>
  </div> -->





<!-- 3rd one -->
<!-- <div class="container">
    <div class="untoldcoding">
        <div class="img-container">
            <img src="../../assets/don5.jpg" alt="" />
            <button class="know-more-button">Click to Know More</button>
        </div>
        <div class="untoldcoding-details">
            <h2>lorem</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, dolore. Recusandae ratione iusto
                repellendus in praesentium! Nobis repellendus accusamus quo.
            </p>
        </div>
    </div>
    <div class="untoldcoding">
        <div class="img-container">
            <img src="../../assets/don6.jpg" alt="" />
            <button class="know-more-button">Click to Know More</button>
        </div>
        <div class="untoldcoding-details">
            <h2>ipsum</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo optio quia sapiente repellat nisi possimus
                nam voluptatum numquam rerum facilis.
            </p>
        </div>
    </div>

    <div class="untoldcoding">
        <div class="img-container">
            <img src="./assets/don6.jpg" alt="" />
            <button class="know-more-button">Click to Know More</button>
        </div>
        <div class="untoldcoding-details">
            <h2>ipsum</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo optio quia sapiente repellat nisi possimus
                nam voluptatum numquam rerum facilis.
            </p>
        </div>
    </div>

    
</div> -->



<html>

<head></head>

<body>


  <div class="don">
    <div class="cont1">

      <img src="./assets/third.JPG" alt="" width="100%" height="300rem">
    </div>

    <div class="cont2">
      <span class="bd">Welcome to Phoenix Kaffee</span>, your premier destination for a productive yet pleasurable
      work-friendly atmosphere. Immerse yourself in our meticulously curated selection of modern and diverse coffee
      options, each cup designed to elevate your taste buds and enhance your overall coffee experience.
<br>
<img  src="./assets/f1.png" alt="">
      <img   src="./assets/coffee-unscreen.gif" alt="" >
      <img class="bg-img" src="./assets/background.png" alt="">
            <img src="./assets/dek-removebg-preview.png" alt="">
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="don">

    <div class="cont1 sm">

      <img src="./assets/first(1).JPG" alt="" width="100%" height="300rem">

    </div>

    <div class="cont2">
      <span class="bd">At Phoenix Kaffee</span>, our reputation extends beyond exceptional coffee; it's anchored in the
      creation of a welcoming ambiance conducive to productivity. Step into a space where creativity flows seamlessly,
      providing you with an ideal environment to focus, collaborate, and connect.
      <br>
      <img  src="./assets/giphy (1).gif" alt=""  >
      <img class="bg-img" src="./assets/background.png" alt="">
      <img src="./assets/dek-removebg-preview.png" alt="">
    </div>
    <div class="cont1">

      <img src="./assets/first.JPG" alt="" width="100%" height="300rem">

    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="don">
    <div class="cont1">
      <img src="./assets/second.JPG" alt="" width="100%" height="300rem">

    </div>
    <div class="cont2">
      What truly distinguishes Phoenix Kaffee is our culturally inspired interior, meticulously designed to reflect the
      rich tapestry of Indian heritage. From vibrant colors to carefully selected decor, every element contributes to an
      immersive experience. Discover a blend of work-friendly vibes, diverse coffee offerings, and a soulful ambiance
      that not only sets Phoenix Kaffee apart but ensures your online search for <span class="bd">the perfect cafe leads
        you to an unforgettable cultural and coffee journey in the heart of the city.</span>
      <img class="bg-img" src="./assets/background.png" alt="">
      <img src="./assets/dek-removebg-preview.png" alt="">
    </div>
  </div>
</body>

</html>